<div class="p-4 mb-auto">
	<h3 class="text-3xl font-bold text-gray-500 uppercase text-center mb-5">{{name}}</h3>

	<img class="h-36 w-40 mx-auto mb-4" src="{{img}}" />

	{{#each types}}
	<p class="bg-gold text-gray-200 max-w-min px-2 py-1 rounded-full uppercase text-xs font-semibold inline">{{this.type.name}}</p>
	{{/each}}

	<p class="mt-4"><span class="title-tag">Height:</span> {{height}}</p>
	<p><span class="title-tag">Weight:</span> {{weight}}</p>

	<div class="border-gray-300 border-2 p-4 my-4 rounded-lg">
		<h5 class="text-xl font-bold text-gray-500 uppercase mb-2">Stats</h5>
		<p><span class="title-tag">Attack:</span> {{stats.attack}}</p>
		<p><span class="title-tag">Health:</span> {{stats.hp}}</p>
		<p><span class="title-tag">Defence:</span> {{stats.defense}}</p>
		<p><span class="title-tag">Speed:</span> {{stats.speed}}</p>
		<p><span class="title-tag">Special Attack:</span> {{stats.special-attack}}</p>
		<p><span class="title-tag">Special Defence:</span> {{stats.special-defense}}</p>
	</div>

	<a href="/" class="btn block text-center">Go Home</a>
</div>

{{>footer}}